#branding img {
	height: auto;
	margin-bottom: -7px;
	width: 100%;
	margin: 43px 0 0;
	border-bottom: 1px dashed #ddd;
}
#access {
	background: #393939;
	background: -moz-linear-gradient(#393939, #232323);
	background: -o-linear-gradient(#393939, #232323);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#393939), to(#232323));
	background: -webkit-linear-gradient(#393939, #232323);
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin: 0 auto;
	position: absolute;
	background: #222;
	background: -moz-linear-gradient(#252525, #0a0a0a);
	background: -o-linear-gradient(#252525, #0a0a0a);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a));
	background: -webkit-linear-gradient(#252525, #0a0a0a);
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto 6px;
	width: 100%;
	top: 0px;
}

#branding, #access, #page {
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
-khtml-border-radius: 10px 10px 0 0;
border-radius: 10px 10px 0 0;
} 